@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Om mig</h1>
<p class="about">Jag tänker utanför ramarna alldeles för mycket. Det gör att relativt enkla saker lätt kan bli hyfsat krångliga. Just den här däremot vill jag göra så enkel som möjligt. Tyvärr misslyckades jag med det med.</p> 
<p class="about"> Det som tagit mest tid med den här uppgiften är att jag skrivit classnamnet tooltipText själv men klippt in lite CSS med första Tet i Test som litet t. Jag behöver ju inte gära det här men jag ville hellre ha en tooltip än vanlig text. Dessutom var det nåra år sedan sist jag gjorde en tooltip ocjh sånt mpste man ju kunna. Jag borde bli bättre på att på enklaste möjliga vis bara bli klar med det jag måste innan jag ger mig på sånt jag faktiskt lär mig något av. Framför allt bör jag låta bli att försöka gära mer när jag håller på med något helt nytt för nu trodde jag att jag gjort något annat fel relaterat till att jag hanterat MVC fel på något sätt.</p>