@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Mina projekt</h1>
<ul>
    <li class="tooltip">

        <a href="https://github.com/zpeedi/04---JavaScript">Sokoban</a>
        <span class="tooltipText">Spelet Sokooban. Syftet var att lära mig dommanipulation och skrva javascript</span>
    </li>
    <li class="tooltip">

        <a href="https://github.com/zpeedi/Html">Basic HTML och CSS</a>
        <span class="tooltipText">En övning i att skriva enkel HTML och CSS</span>
    </li>
    <li class="tooltip">
        <a href="https://github.com/zpeedi/VendingMachine">Vendnin Machine</a>
        <span class="tooltipText">Kod för att handla i en automat. Syftet var att lära mig grundläggande hantering av klasser</span>

    </li>
    <li class="tooltip">
        <a href="https://github.com/zpeedi/TodoIT">Tester 2</a>
        <span class="tooltipText">En övning i att skriva tester i xUnit.</span>

    </li>
    <li class="tooltip">
        <a href="https://github.com/zpeedi/CalculatorTest">Testing Calculator</a>
        <span class="tooltipText">XUnit tester av räknemaskinen i föregående uppgift.</span>

    </li>
    <li class="tooltip">
        <a href="https://github.com/zpeedi/Hangman">Hangman</a>
        <span class="tooltipText">Det klassiska spelet Hangman</span>

    </li>
    <li class="tooltip">
        <a href="https://github.com/zpeedi/Lexicon-vecka-1">Calculator</a>
        <span class="tooltipText">En enkel rtextbaserad räknemaskin för de fyra röknesätten.</span>

    </li>
    <li class="tooltip">
        <a href="https://github.com/zpeedi/LexiconTest">Test och bedömning</a>
        <span class="tooltipText">En samling kortare enkla uppgifter för att visa att jag kan grundläggande programmering.</span>

    </li>
</ul>